<nb-actions class="nav" size="small">
  <nb-action
    class="nav-link"
    routerLink="/adoption"
    routerLinkActive="nav_link--active"
    (click)="menuItemClicked()"
    >Візьмуу Пса</nb-action
  >
  <nb-action
    class="nav-link"
    routerLink="/tobedone"
    routerLinkActive="nav_link--active"
    (click)="menuItemClicked()"
    >SOS</nb-action
  >
  <nb-action
    class="nav-link"
    routerLink="/tobedone"
    routerLinkActive="nav_link--active"
    (click)="menuItemClicked()"
    >Пропав Пес</nb-action
  >
  <nb-action
    class="nav-link"
    routerLink="/tobedone"
    routerLinkActive="nav_link--active"
    (click)="menuItemClicked()"
    >Мій Кекс</nb-action
  >
  <nb-action
    class="nav-link"
    routerLink="/tobedone"
    routerLinkActive="nav_link--active"
    (click)="menuItemClicked()"
    >Історії</nb-action
  >
</nb-actions>
