<div class="header">
  <div class="header_logo">
    <img class="logo-image" src="../../../assets/images/logo-cookies.svg" />
    <!-- <div class="header_title">У ПСА</div> -->
  </div>

  <app-navigation
    class="nav-mobile"
    [ngClass]="{ 'nav-mobile_opened': menuClick }"
    (observableEvent)="receiveLinkClicked($event)"
  ></app-navigation>
  <div class="menu-btn-mobile">
    <input type="checkbox" id="toggle-text-on-left" (click)="menuClicked()" />
    <label for="toggle-text-on-left"><i></i><span></span></label>
  </div>
</div>
