<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target name="database" xsi:type="Database">
      <connectionString>Server=(localdb)\MsSqlLocalDb;Initial Catalog=DogsSearch;Integrated Security=true;</connectionString>

      <commandText>
        insert into dbo.Log (Level, Message) 
        values (@Level, @Message);
      </commandText>

      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}. ${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>