.page {
    --auto-grid-min-size: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 20px;
    max-width: 1280px;
    margin: auto;
}
