<p>dog-edit works!</p>
<!-- <input > -->
<form [formGroup]="editDogInfoForm" (ngSubmit)="submit()">

    <div class="form-group">
        <div class="input-container">
            <label for="input">Поганяло</label>
            <input type="text" formControlName="name" nbInput>
        </div>
        <div class="input-container">
            <label for="checkbox">Статус Опіки</label>
            <nb-checkbox type="checkbox" formControlName="isAdopted">
                <!-- {{ isAdopted === true ? 'Взято під опіку' : 'Без опіки' }} !why dis isnt working ? -->
            </nb-checkbox>
        </div>
        <div class="input-container">
            <label for="radio">Секс</label>
            <nb-radio-group formControlName="genderOption">
                <nb-radio value="male">Male</nb-radio>
                <nb-radio value="female">Female</nb-radio>
            </nb-radio-group>
        </div>
        <div class="input-container">
            <input nbInput type="text" formControlName="location">
        </div>
        <div class="input-container">
            <label for="text">Дай лінк на картінку для авва авва</label>
            <input type="text" formControlName="imageUrl" nbInput>
        </div>
        <div class="input-container">
            <label for="text">Додаткова картінка</label>
            <input nbInput type="text" formControlName="additionalImages" >
        </div>
        <div class="input-container">
            <textarea nbInput fullWidth placeholder="Textarea" formControlName="story"></textarea>
        </div>
        <div class="input-container">
            <button nbButton outline status="success">Зберегти зміни</button>
        </div>
    </div>

    
    <p>{{ editDogInfoForm.value.name }}</p>
    <p>{{ editDogInfoForm.value.isAdopted }}</p>
    <p>{{ editDogInfoForm.value.genderOption }}</p>
    <p>{{ editDogInfoForm.value.story }}</p>
</form>
