$card-height: 400px;
$card-width: 300px;

:host {
    display: flex;
    justify-content: center;
}

.card {
    height: $card-height;
    width: $card-width;

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}