<nb-flip-card class="card">

    <nb-card-front>
        <nb-card class="card">
            <nb-card-body [style.backgroundImage]="imageUrl" style="background-size: cover; cursor: pointer;" (click)="openDetails()">
            </nb-card-body>
            <nb-card-footer>
                <section class="card__title" >
                    <strong>{{dog.name}}</strong>
                    <span>, {{dog.age}} years</span>
                </section>
                <section class="card__gender">
                    <small class="text-hint"> Gender: </small>
                    <small [ngClass]="info.textStatus">{{dog.gender}}</small>
                </section>
                <section class="card__story">
                    <small>{{dog.story}}</small>
                </section>
                <section class="card__actions">
                    <nb-icon icon="star-outline" [status]="info.status"></nb-icon>
                    <!-- <button nbButton outline [status]="info.status">{{info.adoptionText}}</button> -->
                </section>
            </nb-card-footer>
        </nb-card>
    </nb-card-front>

    <nb-card-back>
        <nb-card class="card">
            <nb-card-footer>
                <section class="card__title">
                    <strong>{{dog.name}}</strong>
                    <span>, {{dog.age}} years</span>
                </section>
                <section class="card__gender">
                    <small class="text-hint"> Gender: </small>
                    <small [ngClass]="info.textStatus">{{dog.gender}}</small>
                </section>
                <section class="card__story--full">
                    <small>{{dog.story}}</small>
                </section>
            </nb-card-footer>
        </nb-card>
    </nb-card-back>

</nb-flip-card>